%h2.ui.header
  %i.film.icon
  .content
    Video

%video.video-js.vjs-default-skin#player{controls: true, preload: 'auto', width: '640', height: '264'}

.ui.divided.items
  = render partial: 'chapter', collection: @movie.chapters

:coffeescript
  $(document).ready () ->

    player = null
    aspectRatio = 264/640

    videojs('player').ready () ->
      player = this
      player.src({ type: "#{@movie.content_type}", src: "#{@movie.public_url}" })

      resizeVideoJS = () ->
        width = document.getElementById('player').parentElement.offsetWidth
        player.width(width).height( width * aspectRatio )

      resizeVideoJS()
      window.onresize = resizeVideoJS

    $('.chapter').on('click', () ->
      chapter = $(this)
      offset = chapter.data('offset')
      player.currentTime(offset)
      player.play()
    )
